server {
    listen {{server_port}};
    server_name {{server_name}};

    location /static/ {
        root {{project_dir}};
    }

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://unix:{{project_dir}}/{{project_name}}.sock;
    }
}
